<section fxLayout="row" fxLayoutAlign="center start" style="margin-top: 2%">
  <mat-card style="width: 50%">
    <form
      (ngSubmit)="onSubmit(loginForm)"
      [formGroup]="loginForm"
      fxLayout="column"
      fxLayoutAlign="center center"
      class="add-wish-form"
    >
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input formControlemail="email" matInput placeholder="email" />
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error *ngIf="loginForm.get('email').hasError('required')"> Please enter a valid email </mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input type="password" formControlemail="password" matInput placeholder="password" />
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="loginForm.get('password').hasError('required')"> Please enter a valid password </mat-error>
      </mat-form-field>
      <button type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary">Add</button>
    </form>
  </mat-card>
</section>
